<div class="desktop-3d" id="desktop-3d">
  <div class="desktop" id="desktop">
    <div class="desktop-icon" data-folder="about" ondblclick="openFolder('about')">
      <div class="icon"><div class="folder-tab"></div><div class="folder-body"></div></div>
      <div class="label">About Me</div>
    </div>
    <div class="desktop-icon" data-folder="posts" ondblclick="openFolder('posts')">
      <div class="icon"><div class="folder-tab"></div><div class="folder-body"></div></div>
      <div class="label">Posts</div>
    </div>
    <div class="desktop-icon" data-folder="category" ondblclick="openFolder('category')">
      <div class="icon"><div class="folder-tab"></div><div class="folder-body"></div></div>
      <div class="label">Category</div>
    </div>
  </div>

  <div class="taskbar">
    <button class="start-button" onclick="showStartMenu()">开始</button>
    <div class="taskbar-windows" id="taskbar-windows"></div>
    <div class="system-tray">
      <span id="clock"></span>
    </div>
  </div>
</div>
